.container {
    padding: 1rem; /* 20px */
    max-width: 50rem; /* 800px */
    margin: 0;
}

.title {
    font-size: 1.7rem; /* Tamaño del título */
    margin-bottom: 1.5rem;
    text-align: center;
}

.section {
    margin-bottom: 1.25rem; /* 20px */
}

.section h2 {
    margin-bottom: 0.5rem; /* 10px */
    text-align: center;
    font-size: 1.3rem;
}

h2 {
    margin-top: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 0.625rem; /* 10px */
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
