.numericInput {
    -moz-appearance: textfield;
    appearance: none;
}

.numericInput::-webkit-outer-spin-button,
.numericInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.deleteButton {
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    font-weight: bold;
    margin-left: 0.5rem;
}

.card {
    /* Otros estilos */
    border: 2px solid black;
    align-content: center;
    margin: 1rem;
    width: 15rem;
    padding: 0.5rem ;
}


.footer {
    display: flex;
    justify-content: space-between;
}

.codigo {
    align-self: flex-start;
}

.cargaHoraria {
    align-self: flex-end;
}

.correlativas {
    margin-top: 1rem;
}

.notas {
    margin-top: 1rem;
}

.notas input {
    margin-bottom: 0.5rem;
}

/* materia.module.css */
.error {
    color: red;
    font-weight: bold;
}

