.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282c34;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.left {
    flex: 1;
}

.right {
    flex: 2;
    display: flex;
    justify-content: flex-end;
}

.carreras {
    display: flex;
    gap: 1rem;
}

.dropdownContainer {
    display: none;
    position: relative;
    z-index: 1001;
}

.dropdownMenu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #282c34;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    z-index: 1002;
}

.dropdownMenu button {
    margin: 0.25rem;
    width: 90%;
}

@media (max-width: 768px) {
    .carreras {
        display: none;
    }
    .dropdownContainer {
        display: block;
    }
}
