/* Estilos generales para la navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333333;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.left {
    flex: 1;
}

.right {
    flex: 2;
    display: flex;
    justify-content: flex-end;
}

.carreras {
    display: flex;
    gap: 1rem;
}

/* Estilos para los botones */
button {
    background-color: #6b6b6b;
    border: none;
    padding: 0.5rem 1rem; /* Padding base */
    font-size: 1rem; /* Tamaño de fuente base */
    border-radius: 0.25rem;
    font-weight: 550;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Agregado para una transición suave */
}

button:hover {
    background-color: #888888;
}

/* Ajuste del tamaño de los botones en pantallas más pequeñas */
@media (max-width: 1200px) {
    button {
        padding: 0.4rem 0.8rem; /* Ajusta el padding */
        font-size: 0.9rem; /* Reduce el tamaño de la fuente */
    }
}

@media (max-width: 992px) {
    button {
        padding: 0.3rem 0.6rem; /* Ajusta el padding aún más */
        font-size: 0.85rem; /* Reduce aún más el tamaño de la fuente */
    }
}

.dropdownContainer {
    display: none;
    position: relative;
    z-index: 1001;
}

.dropdownMenu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #333333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    z-index: 1002;
}

.dropdownMenu button {
    margin: 0.25rem;
    width: 90%;
}

/* Media queries para pantallas más pequeñas */
@media (max-width: 992px) {
    .carreras {
        display: none;
    }
    .dropdownContainer {
        display: block;
    }
}
