.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
    padding: 0 1rem; /* Añade padding lateral para evitar que el contenido toque los bordes */
    box-sizing: border-box; /* Incluye padding en el cálculo del ancho total */
}

.title {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.materiasContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas iguales en monitores grandes */
    gap: 1rem;
    width: 100%;
    max-width: 900px; /* Ajusta el ancho máximo */
    margin-top: 1rem;
    padding: 0 1rem; /* Padding lateral para evitar que el contenido toque los bordes */
    box-sizing: border-box; /* Incluye padding en el cálculo del ancho total */
}

.materias {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    padding: 1rem;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 100%; /* Asegura que el ancho máximo no exceda el contenedor */
    box-sizing: border-box; /* Incluye padding y border en el cálculo del ancho total */
}

.materias h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.materias p {
    font-size: 0.9rem;
    color: #555;
}

label {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

input,
select {
    margin-left: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    width: 150px;
    transition: border-color 0.3s ease;
}

input:focus,
select:focus {
    border-color: #007bff;
}

.inputField {
    display: inline-block;
}

@media (max-width: 1024px) {
    .materiasContainer {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas en pantallas medianas */
    }
}

@media (max-width: 768px) {
    .container {
        margin-top: 0.5rem;
    }

    .title {
        font-size: 1.5rem;
    }

    .materiasContainer {
        grid-template-columns: 1fr; /* 1 columna en pantallas pequeñas */
        padding: 0; /* Elimina el padding lateral para pantallas pequeñas */
    }

    input,
    select {
        width: 100%;
        margin-top: 0.5rem;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 0 0.5rem; /* Añade padding lateral para evitar el desbordamiento */
    }

    .materiasContainer {
        grid-template-columns: 1fr; /* Una columna en pantallas muy pequeñas */
        padding: 0; /* Elimina el padding lateral para pantallas muy pequeñas */
    }

    .materias {
        width: calc(100% - 1rem); /* Reduce el ancho para tener un pequeño margen */
        margin: 0.5rem 0; /* Ajusta el margen para pantallas muy pequeñas */
    }
}
